<%= form_for @order, url: {action: "create"} do |f| %>
  <% @products.each do |product| %>
    <%= div_for product do %>
      <p><%= product.name %></p>
      <p><%= product.description %></p>
      <p><%= product.cost %></p>
      <%= check_box_tag("#{product.name.to_sym}") %>
    <% end %>
  <% end %>
  <button type="submit" class="btn btn-default">Checkout</button>
<% end %>