<%= form_for @customer, :html => {:class => "form-group center"} do |f| %>
  <div class="cust-info">
    <div class="form-group">
      <div class="col-md-3">
        <%= f.label :first_name, "First name" %>
        <%= f.text_field :first_name, class: "form-control", placeholder: "first name" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3">
        <%= f.label :last_name, "Last name" %>
        <%= f.text_field :last_name, class: "form-control", placeholder: "last name" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3">
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, class: "form-control", placeholder: "email address" %>
      </div>
    </div>
  </div>

  <div class="address">
    <div class="form-group">
      <div class="col-md-3">
        <%= f.label :street, "Street address" %>
        <%= f.text_field :street, class: "form-control", placeholder: "street address" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3">
        <%= f.label :city, "City" %>
        <%= f.text_field :city, class: "form-control", placeholder: "city" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3">
        <%= f.label :state, "State" %>
        <%= f.text_field :state, class: "form-control", placeholder: "state" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3">
        <%= f.label :country, "Country" %>
        <%= f.text_field :country, class: "form-control", placeholder: "country" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3">
        <%= f.label :postal_code, "Postal code" %>
        <%= f.number_field :postal_code, class: "form-control", placeholder: "post code" %>
      </div>
    </div>
  </div>

  <%= f.submit "Ship it!", class: "btn btn-default btn-primary", style: "margin: 14px" %>
<% end %>